.flex{
display:flex;
}
.align-center{
    justify-content: center;
    align-items: center;
}

.header-top-bar,.header-bottom-bar{
    justify-content: space-between;
    height: 30px;
    padding: 8px;
    background-color: white;
    border-radius: 5px;
    margin: 3px;
    color: #B2B2B6;

}

.left-part-logo,.right-part-info{
max-height: 100%;
justify-content: space-evenly;
gap:10px;
}

.right-part-info > img{
 border-radius: 50%;
}
.right-part-info p{
    font-size: 23px;
 }

 .header-bottom-bar{
height: 18px;
 }

.name-left-info,.monitor-right-info{
width: 20%;
justify-content: space-between;
}

.name-left-info h4{
    color: black;
}

.age-left-info{
    justify-content: space-evenly;
    gap: 6px;
}

.monitor-right-info{
width: 25%;
justify-content: space-between;
}

/* ---------body---------- */

.container-body-wrapper{
display: grid;
grid-template-columns: 37% 22% 37%;
gap:2%;
padding: 10px;
color: #B2B2B6;
}

.container-body-wrapper > div{
/* height: 1000px; */
border: 1px solid black;
}

/*--- left bar--- */
.medical-history-container,.circular-progress-wrap,.questions-wrapper,.percentage-wrapper{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 0px 0px 5px 0px;
}

.headings{
    color: #7A7B80;
    font-weight: bolder;
    margin: 3px;
    font-size: 13px;
}

.top-heading{
    font-size: larger;
    color: #58595C;
    font-weight: bolder;
    margin-left: -4px;
    line-height: 0px;
}

.symptom-wrapper{
width: 100%;
justify-content: space-between;
margin: 5px;

}

.symptom-words{
    width: 50%;
    text-align: center;
}
.symptom-words > div{
    background-color: rgb(221, 235, 243);
    padding: 3px;
    margin: 1px;
    display: inline-block;
    font-size: 12px; 
}
.symptom-duration > div{
    padding: 3px;
    margin: 1px;
    font-size: 12px;
}
.see-more{
    text-align: right;
    color: #58595C;;
    font-size: 12px;

}
.circular-organ-wrap{
    justify-content: space-between;
}

.circular-bar-wrap > div:first-child{
    margin-left: 20px;
}

.over-all-health{
    width: 100px;
    font-size: 9px;
    font-weight: bold;
    text-align: center;
}
.percentage-words{
    margin-top: -25px;
    margin-left: 20px;
}
.skeleton-img-wrap > img {
    width: 250px;
    /* height: 300px; */
    opacity: 0.3;
}
.organ-names-wrapper{
    margin-left: -60px;
    z-index: 1;
}

.green-tick{
    color: #57BE5E;
}
.yellow-tick{
    color: #E4B35D;
}
.blue-tick{
color: #4B6CAC;
}

/* ------middlepart---- */
.questions-wrapper{
color: #58595C;
}

.percentage-disease-name{
 color: #58595C;
}

.small-text{
    font-size: 11px;
}
.bar-main{
    border-radius: 4px;
}